
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Converter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33495f;
}

.Converter__input , .Converter__result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
}

.Converter__input {
  text-align: center;
}

.Converter__result {
  background-color: #00000044;
  color: #ffffff;
}
